<h2>All Spin Classes</h2>
<h4>Click to join a class:</h4>
<ul class="list-group">
  <% @studios.each do |studio| %>
  <h4>Spin Classes for Studio <%= studio.name %></h4>
  <% studio.spin_classes.each do |spin_class| %>
    <li class="list-group-item"><%= spin_class.name %>
      <% if Reservation.find_by(user: current_user, spin_class: spin_class).nil? %>
        <%= link_to "Join", new_spin_class_reservation_path(spin_class) %>
      <% else %>
      <h6>Number of Attendees: <%= spin_class.attendees %></h6>
        <h6>You've already joined this spin class!</h6>
      <% end %>
    </li>
    <% end %>
  <% end %>

</ul>
<%= link_to "Add New Spin Class", new_spin_class_path %></br>
